@font-face {        
    font-family: brln;               /* NE PAS TOUCHER */
    src: url('font/font/BRLNSB.TTF');     /* NE PAS TOUCHER */
}

@font-face {        
    font-family: impact;               /* NE PAS TOUCHER */
    src: url('font/impact.ttf');     /* NE PAS TOUCHER */
}

@font-face {        
    font-family: milestone;               /* NE PAS TOUCHER */
    src: url('font/MilestoneFreeVersion-Script.otf');     /* NE PAS TOUCHER */
}





