@font-face {        
    font-family: brln;               /* NE PAS TOUCHER */
    src: url('font/BRLNSB.TTF');     /* NE PAS TOUCHER */
}

@font-face {        
    font-family: impact;               /* NE PAS TOUCHER */
    src: url('font/impact.ttf');     /* NE PAS TOUCHER */
}

@font-face {        
    font-family: milestone;               /* NE PAS TOUCHER */
    src: url('font/MilestoneFreeVersion-Script.otf');     /* NE PAS TOUCHER */
}
*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'impact',serif,sans-serif;
}

/* body */

/*
html
{
    height: 100%;
}
*/
body
{
/*
    display: flex;
    flex-direction: column;
    min-height: 100%;
*/
/*    position: relative;*/
    background-color: #343d5f;
}

.h1 /* cest bon comme ca ?? */
{
    font-family: 'milestone', sans-serif;
    text-transform: capitalize;
    font-size: 60px;
    color: #ffffff;
}
h1{
    font-family: brln;
    font-size: 50px;
    color: #ffffff;
}
h2
{
    text-align: center;
    font-size: 40px;
    text-transform: capitalize;
    
}

h3
{
    font-size: 25px;
}


/*                      HEADER                      */
/*--------------------------------------------------*/

header
{
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
}

header nav /* menu */
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
    font-size: 25px;
}

header a
{
    color: #ffffff;
    font-family: 'brln',sans-serif;
    text-decoration: none;
    font-weight: lighter;
    text-transform: capitalize;
}

header a:hover
{
    border-bottom: 3px solid  #aeb1bf;
    
}

header img

{
    width: 100%;
    height: 1000px;
}


/*                      NOTRE ACTIVITE              */
/*--------------------------------------------------*/


#notreActivite
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    color: black;
    height: 600px;
    margin-bottom: 10px;
}
#notreActivite article
{
    margin: 0 200px;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#notreActivite h2
{
    padding-bottom: 50px;
}


/*                      NOS PROJETS                 */
/*--------------------------------------------------*/


#nosProjets
{
    background-color: grey;
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#nosProjets article
{
    display: flex;
    justify-content: space-around;
    
}

#nosProjets article article
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 30px;
    width: 20%;
    height: 550px;
    background-color: white;
    border: 2px solid black;
}

#nosProjets article article p
{
    border-top-left-radius: 1px solid transparent;
    border-top-right-radius: 1px solid transparent;
    border-top: 2px solid black;
    padding-top: 15px;
    text-align: center;
}

#nosProjets img
{
    width: 100%;
    height: 300px;
}

/*                      IDEE DU MOMENT              */
/*--------------------------------------------------*/


#ideeDuMoment article
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 200px 620px;
    background-color: white;
    padding: 20px;
    border: 3px solid black;
}

/*                      FOOTER                      */
/*--------------------------------------------------*/


footer

{   /*position: absolute;
    bottom: 0;
*/
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    width: 100%;
   
}

footer p 
{
    position: relative;
    top: 20px;
    font-size: 10px;
    color: grey;
    font-family: sans-serif;
}

footer img
{
    width: 50px;
    height: 50px;
}

footer div img
{
    padding-right: 10px;
}

/*                     PAGE CONNECTION                     */
/*--------------------------------------------------*/

/*
#connect {
    display: flex;
    justify-content: center;
    padding:20px;
   
}
*/
#connect_1{         /*---header----*/
    display: flex;  
    align-items: center;
    justify-content: space-around;
    background-color: black;
    height: 500px;
    width: 100%;
    padding: 0px 250px 0px 350px;
    
}
 fieldset{       /*formulaire connexion*/
    height: 300px;
    width: 300px; 
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}           

legend{                   /*text haut du formulaire*/  
    font-family: 'milestone', sans-serif;
    font-size: 30px;
    color: #ffffff;
}
    
fieldset > div{           /*contenu du formulaire*/
    display: flex;
    flex-direction:column;
    justify-content:space-around;
    align-items: center;
    height: 70%;  
    margin-top: 30px
}
#connect_1 img{    /*image de l'ampoule*/
    width:40%;
  
}
    
/*                     PAGE LISTE                    */
/*--------------------------------------------------*/
section{
    height:1200px;
    background-color: black;
}
#liste{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#liste_1{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    height:500px;
    width: 900px;
}
#liste_1 div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 45%; 
    margin-bottom: 60px;
    margin-top: 40px;
    box-shadow:  5px 5px 5px 5px #343d5f;    
    
}
#liste_1 img{
    width: 65%;
    margin: 60px;
   
}
#liste h1{
    height: 100px;
    margin-top: 40px;

}
#liste_1 h2 {
    margin:20px;
     text-shadow: 3px 3px 3px #c8c8c8;
    color:#343d5f;
}
#liste_1 p{
    margin: 20px;
    color:#ffffff;
}